$background-color: #e1e1e3;
$secondary-color: #fff;
$tertiary-color: #a3a3a3;
$hover-color: #000048;
$text-color: #000000;

$button-text-color: $secondary-color;
$button-enable-text-color: $text-color;
$button-hover-color: $hover-color;
$background-body-color:$background-color