@import '../../styles/variables.scss';
@import '../../styles/theme.scss';

// Modal
div.modal {
  background-color: $background-body-color;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:
    $background-body-color;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 180%;
  padding: 20px;
}

div.container {
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    img {
      max-width: 100px;
      height: auto;
    }
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    border: none;
    cursor: pointer;
    color: $button-enable-text-color;
    background-color: transparent;
  }
}

form.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;

  mat-error {
    margin-bottom: 5px;
  }

  mat-form-field {
    width: 100%;
    margin: 10px;
    position: relative;
    height: 20px;

    .mat-input-element {
      padding-right: 48px;

      .btn-container {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;
        }
      }
    }

    div.btn-container {
      display: flex;
      gap: 12px;

      button {
        flex: 1;
        padding: 12px 0;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
    padding: 20px;
  }

  .btn-container {
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}